body {
  background-color: rgb(0, 0, 0);
  font-family: sans-serif;
}
h1 {
  color: grey;
  font-weight: 800;
}

#main {
  background-color: white;
  width: 500px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.form {
  display: grid;
  gap: 10px;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
}

footer {
  text-align: left;
  padding-left: 2%;
  margin-top: 15px;
}

select {
  width: 40px;
}

.range {
  display: flex;
  justify-content: space-around;
}

#rate {
  width: 80%;
}

button {
  width: 130px;
  margin: 0 auto;
}
